
@{
    Layout = null;
}


<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@Html.Action("PartialHead")
<body id="home">
@Html.Action("PartialNavbar")
@Html.Action("PartialScript1")
    <!--theme switcher dark and light mode script//-->
    <!-- breadcrumbs -->
@Html.Action("PartialService")
@Html.Action("PartialFeature")
@Html.Action("PartialFooter")

@Html.Action("PartialScript2")

</body>

</html>

